.contact {
    /* display: inline-block; */
    margin-left: 350px;
    width: 800px;
    /* margin-left: 100px; */
    
    /* width: 100%; */
}
.one {
    display: inline-block;
    width: 300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* margin-left: 100px; */
    text-align: center;
    /* width: 100%; */
}
.contact img{
    height: 250px;
    width: 200px;
}
.conc_name{
    font-weight: bold;
    font-style: italic;
    color: grey;
    margin-top: 10px;
}
.direct{
    text-align: center;
    margin-top: 30px;
    padding-left: 160px;
}
